/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
color: #273d46;
font-family: "Arial MT";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 36px;
text-align: left;
margin: 163px 0 0 320px;
}

.top-list li{
	background: url(/img/check_icon.png) 0 8px no-repeat;
	padding-left: 30px;
	
	white-space: nowrap;
}

.top-list li:first-child {
text-decoration: line-through;
max-width: 420px;

}
.top-list li:nth-child(2){
	font-weight: bold;
}

.top-list li:nth-child(3){
	font-style: italic;
}

.top-list li:last-child{
	text-transform: uppercase;
}

.top-list li:first-child:hover{
	text-decoration: none;
}

.top-list li:nth-child(2):hover{
	color: red;
	background: url(/img/check_icon\ \(1\).png) 0 8px no-repeat;
	
}

.top-list li:nth-child(3):hover{
	font-style: normal;
}

.top-list li:last-child:hover{
	text-transform: none;
	text-align: justify;
	white-space: none;
}


.button {
	background-color: #80b7b3;
	display: inline-block;
border-radius: 35px;	
padding: 5px 15px 5px 15px;
margin-top: 50px;
letter-spacing: 2.8px;
color: #ffffff;
text-transform: uppercase;
}
.button span{
	background: url(/img/Shape_2\ \(1\).png) right no-repeat;
	padding-right: 30px;
}

.button:hover{
	background: #3a5856;
}

.button:active{
	background: #818181;
}

.input{
	margin-top: 30px;
	font-size: 30px;
	width: 300px;
	height: 50px;
	border: 1px solid grey;
}

.input:focus{
	box-shadow: 0 0 15px #7fbed5;
}
